.btn {
    letter-spacing: 0;
    transition-duration: 0.2s;
    font-size: 60px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    -unity-font-definition: url("project://database/Assets/Fonts/EXEPixelPerfect.ttf?fileID=12800000&guid=782f6c62df863b74fbb41b0d20fdc22d&type=3#EXEPixelPerfect");
    -unity-font-style: normal;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: auto;
    width: initial;
    -unity-text-align: middle-center;
    white-space: nowrap;
    text-overflow: clip;
    transition-timing-function: linear;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-image: url("project://database/Assets/Materials/locaterTitleBackgroundBox.png?fileID=374712125&guid=982e05c00ca67fe41be93e7c8d87095a&type=3#locaterTitleBackgroundBox_0");
    -unity-background-scale-mode: stretch-to-fill;
    -unity-background-image-tint-color: rgb(255, 255, 255);
}

.btn:hover {
    letter-spacing: 0;
    transition-duration: 0.2s;
    font-size: 60px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    -unity-font-definition: url("project://database/Assets/Fonts/EXEPixelPerfect.ttf?fileID=12800000&guid=782f6c62df863b74fbb41b0d20fdc22d&type=3#EXEPixelPerfect");
    -unity-font-style: normal;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: auto;
    width: initial;
    -unity-text-align: middle-center;
    white-space: nowrap;
    text-overflow: clip;
    transition-timing-function: linear;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-image: url("project://database/Assets/Materials/locaterTitleBackgroundBox.png?fileID=374712125&guid=982e05c00ca67fe41be93e7c8d87095a&type=3#locaterTitleBackgroundBox_0");
    -unity-background-scale-mode: stretch-to-fill;
    -unity-background-image-tint-color: rgb(255, 120, 0);
    -unity-slice-left: 0;
    -unity-slice-top: 0;
    -unity-slice-right: 0;
    -unity-slice-bottom: 0;
    scale: 1.05 1.05;
}



.btn:active {
    letter-spacing: 0;
    transition-duration: 0.2s;
    font-size: 60px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    -unity-font-definition: url("project://database/Assets/Fonts/EXEPixelPerfect.ttf?fileID=12800000&guid=782f6c62df863b74fbb41b0d20fdc22d&type=3#EXEPixelPerfect");
    -unity-font-style: normal;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: auto;
    width: initial;
    -unity-text-align: middle-center;
    white-space: nowrap;
    text-overflow: clip;
    transition-timing-function: linear;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-image: url("project://database/Assets/Materials/locaterTitleBackgroundBox.png?fileID=374712125&guid=982e05c00ca67fe41be93e7c8d87095a&type=3#locaterTitleBackgroundBox_0");
    -unity-background-scale-mode: stretch-to-fill;
    -unity-background-image-tint-color: rgb(148, 70, 0);
    -unity-slice-left: 0;
    -unity-slice-top: 0;
    -unity-slice-right: 0;
    -unity-slice-bottom: 0;
    scale: 1 1;
}
